<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBus</servlet-name>
        <servlet-class>BookBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellersDetails</servlet-name>
        <servlet-class>TravellersDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment2</servlet-name>
        <servlet-class>MakePayment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedback</servlet-name>
        <servlet-class>ViewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUsers</servlet-name>
        <servlet-class>ViewAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomers</servlet-name>
        <servlet-class>ViewCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBus</servlet-name>
        <servlet-class>AddBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBus</servlet-name>
        <servlet-class>ViewBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooking</servlet-name>
        <servlet-class>ViewBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPic_admin</servlet-name>
        <servlet-class>UploadPic_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBooking</servlet-name>
        <servlet-class>SearchBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPic</servlet-name>
        <servlet-class>UploadPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooking_User</servlet-name>
        <servlet-class>ViewBooking_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword_Admin</servlet-name>
        <servlet-class>ChangePassword_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword_User</servlet-name>
        <servlet-class>ChangePassword_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBus</servlet-name>
        <servlet-class>DeleteBus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBus</servlet-name>
        <url-pattern>/BookBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellersDetails</servlet-name>
        <url-pattern>/TravellersDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment2</servlet-name>
        <url-pattern>/MakePayment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedback</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUsers</servlet-name>
        <url-pattern>/ViewAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomers</servlet-name>
        <url-pattern>/ViewCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBus</servlet-name>
        <url-pattern>/AddBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBus</servlet-name>
        <url-pattern>/ViewBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooking</servlet-name>
        <url-pattern>/ViewBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPic_admin</servlet-name>
        <url-pattern>/UploadPic_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBooking</servlet-name>
        <url-pattern>/SearchBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPic</servlet-name>
        <url-pattern>/UploadPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooking_User</servlet-name>
        <url-pattern>/ViewBooking_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword_Admin</servlet-name>
        <url-pattern>/ChangePassword_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword_User</servlet-name>
        <url-pattern>/ChangePassword_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBus</servlet-name>
        <url-pattern>/DeleteBus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
